<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Firebase Authentication</title>
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-auth.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

<div id="app">
  <h1>Vue School - Firebase Authentication</h1>
  <div v-if="authUser">
    <h2>Signed in as {{authUser.email}}</h2>
    <img :src="authUser.photoUrl" height="150">
    <p>What's upp, {{ authUser.displayName || 'friend' }} ?</p>
    <button @click="signOut">Sign out</button>

    <form @submit.prevent="updateProfile">
      <h2>Update profile</h2>
      <input v-model="displayName" placeholder="Your name">
      <input v-model="photoURL" placeholder="Your photo url">
      <button>Update</button>
    </form>

    <form @submit.prevent="updateEmail">
      <h2>Update Email</h2>
      <input v-model="email" placeholder="Your email">
      <button>Update</button>
    </form>

    <form @submit.prevent="updatePassword">
      <h2>Update Password</h2>
      <input type="password" v-model="newPassword" placeholder="Your password">
      <button>Update</button>
    </form>

  </div>

  <div v-else>
    <form @submit.prevent="register">
      <h2>Register</h2>
      <input type="email" v-model="email" placeholder="Type your email">
      <input type="password" v-model="password" placeholder="Pick your password">
      <button>Register</button>
    </form>

    <form @submit.prevent="signIn">
      <h2>Sign in</h2>
      <input type="email" v-model="email" placeholder="Type your email">
      <input type="password" v-model="password" placeholder="Type your password">
      <button>Sign In</button>
    </form>

    <div>
      <h2>Sign in with Google</h2>
      <button @click="signInWithGoogle">Sign in</button>
    </div>
  </div>
</div>

<script>
  /*Initialize Firebase*/
  //firebase config fajl
  const firebaseConfig = {
    apiKey: "AIzaSyB1XJStpz1u8l9yK2BwtPJqlyQ1pQ8ZxUQ",
    authDomain: "auth-e8bcd.firebaseapp.com",
    databaseURL: "https://auth-e8bcd.firebaseio.com",
    projectId: "auth-e8bcd",
    storageBucket: "auth-e8bcd.appspot.com",
    messagingSenderId: "786037341608",
    appId: "1:786037341608:web:f9c4b8c7c3dba7f059b19d",
    measurementId: "G-B3NKC1XRPH"
  };
  /* Initialize Firebase */
  //a firebase-re meghivjuk az initializeApp funkciot, parameternek pedig a firebaseConfig-ot
  firebase.initializeApp(firebaseConfig);
  //a firebase-re meghivjuk az analytics funkciot
  firebase.analytics();
  //definialunk egy uj Vue-t
  new Vue({
    //az app elementre
    el: '#app',
    //data object
    data: {
      //email, erteke ures string
      email: '',
      //password, erteke ures string
      password: '',
      //authuser, erteke null
      authUser: null,
      displayName: null,
      photoURL: null,
      newPassword: null
    },
    //meghods object
    methods: {
      //register funkcio
      register () {
        /*creates an user with email and password. will sign the user in after the 
        account is created*/
        //a firebasere meghivjuk az auth funkciot, arra pedig a createuserWithEmailAndPassword funkciot
        //parameternek atadjuk az email-t es a passwordot
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        //a thenben egy arrow funkcioval console.logoljuk ha minden oke
          .then(() => console.log('all good!'))
          //a catchbe pedig egy arrow funkcioval alerteljuk az error.messaget
          .catch(error => alert(':/ ' + error.message))
      },
      //signout funkcio
      signOut () {
        //a firebase-re meghivjuk az auth funkcio-t, arra pedig a signOut funkcio-t
        firebase.auth().signOut()
      },
      signIn () {
        /*this is a promise*/
        //a firebase-re meghivjuk az auth funkciot, arra pedig a signInWithEmailAndPassword funkciot
        //parameternak atadjuk az email-t es a password-ot
        firebase.auth().signInWithEmailAndPassword(this.email, this.password)
          //so we can specify what we want to do, when there is no error
          //a thenben egy arrow funkcioval console.logoljuk ha minden oke
          .then(() => console.log('all good!'))
          //a catchbe pedig egy arrow funkcioval alerteljuk az error.messaget
          .catch(error => alert(':/ ' + error.message))
      },
      signInWithGoogle () {
        /*implementing a new provider through firebase*/
        //definialjuk provider constant-ot, a firebase objektumon belul az auth
        //funkciora(amit nem hivunk meg) rahivjuk a GoogleAuthProvider funkciot
        const provider = new firebase.auth.GoogleAuthProvider()
        //aztan a firebase-re meghivjuk az auth funkciot, arra pedig a signinWithPopup
        //funkciot, parameterenek atadjuk a providert
        firebase.auth().signInWithPopup(provider)
          //a catchbe egy arrow funkcioval alerteljuk az error.messaget
          .catch(error => alert(':/ ' + error.message))
          //a thenben egy arrow funkcioval console.logoljuk a visszakapott data objektumnak a user-et
          //es a data.credential.accesTokent
          .then(data => console.log(data.user, data.credential.accesToken))
      },
      updateProfile () {
        this.authUser.updateProfile({
          displayName: this.displayName,
          photoURL: this.photoURL
        })
      },
      updateEmail () {
        this.authUser.updateEmail(this.email)
      },
      updatePassword () {
        this.authUser.updatePassword(this.newPassword)
          .then(() => { this.newPassword = '' })
          .catch(error => alert(':/ ' + error.message))
      }
    },
    created () {
      /*Firebase fires an event when an user sign in/out. We can listen on this event with onAuthStateChanged
      In the callback FB gives us the authenticated user, if nobody signed in, this will be null
      we store it in a variable to use it in Vue*/
      //a firebase-re meghivjuk az auth funkciot, es arra pedig az onAuthStateChanged funkciot
      //ez fogad egy callback-et, ami egy arrow funkcio es a Vue authUserjet beallitjuk a user valtozora
      firebase.auth().onAuthStateChanged(user => { 
        this.authUser = user
        if(user) {
          this.displayName = user.displayName
          this.photoURL = user.photoURL
          this.email = user.email
        }
      })
    }
  })
</script>

</body>
</html> 